* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;  
}


nav {
    display: flex;
    background-color: transparent;
   
}

nav figure img {
    width: 180px;

}

.acoes {
    display: flex;
    

}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); 
    z-index: -1;
}

.acoes h3 {
    justify-content: center;
    align-items: center; /* Centraliza horizontal */
    color: white;
    text-align: center;
}

.letreiro img {
    
}

.videoBackground  {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; /* Ajusta o vídeo sem distorcer */
    z-index: -1;
}


.regras {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip {
    display: none; /* fica escondido */
    position: absolute;
    top: 100%; /* abaixo do h3 */
    left: 50%;
    transform: translateX(-50%);
    background: #222;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 10;
}

.regras:hover .tooltip {
    display: block; /* mostra ao passar o mouse */
}
