* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;  
}


nav {
    
    display: flex;
    background-color: transparent;
   
}

nav figure img {
    width: 180px;

}

.acoes {
    display: flex;
    

}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: -1;
}

.acoes h3 {
    justify-content: center;
    align-items: center; /* Centraliza horizontal */
    color: white;
    text-align: center;
}

.letreiro img {
    
}

.videoBackground  {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; /* Ajusta o vídeo sem distorcer */
    z-index: -1;
}